@charset "utf-8";

body {
  font-size: 14px;
  font-size: 1.4rem;
}

input {
  outline: none;
}

.gp-pa {
  position: absolute;
}

.gp-pr {
  position: relative;
}

.gp-clearFix {
  *zoom: 1;
  clear: both;
}

.gp-clearFix:after {
  content: '';
  display: block;
  clear: both;
}

.gp-clear {
  width: 100%;
  overflow: hidden;
}

/*响应式图片*/
.gp-img-responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}

.gp-img-responsive img {
  width: 100%;
  transition: all 0.5s ease-in-out;
  max-width: none;
}

.gp-img-responsive img:hover {
  transform: scale(1.08);
}

.gp-radius {
  border-radius: 3px;
  display: block;
  overflow: hidden;
}

.gp-round {
  border-radius: 500px;
  display: block;
  overflow: hidden;
}

.gp-circle {
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.text-upper {
  text-transform: uppercase;
}

.text-left {
  text-align: left !important
}

/*边框*/
.gp-img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 2px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.gp-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

/*半透明背景*/
.gp-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1180;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=80);
  display: none;
  left: 0
}

/*文章页控制ul li序号*/
.gp-article ol, .gp-article ol li, .gp-order-list li, .gp-order-list {
  list-style: decimal inside none;
}

.gp-article ul, .gp-article ul li, .gp-unorder-list li, .gp-unorder-list {
  list-style: disc inside none;
}

.gp-unorder-list.circle {
  list-style-type: circle
}

.gp-unorder-list.square, .gp-unorder-list.square li {
  list-style-type: square
}

.gp-unorder-list.upper-roman, .gp-unorder-list.upper-roman li {
  list-style-type: upper-roman
}

.gp-unorder-list.lower-alpha, .gp-unorder-list.lower-alpha li {
  list-style-type: lower-alpha
}

.gp-article {
  word-break: break-word;
}

/*字号*/
.gp-f12 {
  font-size: 12px;
}

.gp-f14 {
  font-size: 14px;
}

.gp-f15 {
  font-size: 15px;
}

.gp-f16 {
  font-size: 16px;
}

.gp-f17 {
  font-size: 17px;
}

.gp-f18 {
  font-size: 18px;
}

.gp-f20 {
  font-size: 20px;
}

.gp-f22 {
  font-size: 22px;
}

.gp-f24 {
  font-size: 24px;
}

.gp-f26 {
  font-size: 26px;
}

.gp-f28 {
  font-size: 28px;
}

.gp-f30 {
  font-size: 30px;
}

.gp-f32 {
  font-size: 32px;
}

.gp-f34 {
  font-size: 34px;
}

.gp-f36 {
  font-size: 36px;
}

.gp-f38 {
  font-size: 38px;
}

.gp-f40 {
  font-size: 40px;
}

.gp-f50 {
  font-size: calc(20px + 1.57vw);
}

.gp-ul-inline {
  font-size: 0;
}

.gp-ul-inline>li, .gp-ul-inline>dd {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  vertical-align: top;
}

.gp-fl, .gp-md-fl, .gp-sm-fl {
  float: left;
}

.gp-fr, .gp-md-fr, .gp-sm-fr {
  float: right;
}

.gp-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gp-vam, .gp-vama * {
  vertical-align: middle;
}

/*
字体色
*/
.gp-black *, .gp-black {
  color: #333
}

.gp-white *, .gp-white {
  color: #fff
}

.gp-white *:hover, .gp-white:hover {
  color: #fff;
}

.lf {
  float: left;
}

.rt {
  float: right;
}

/*一行截短*/
.gp-ellipsis, .gp-text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

/*透明度*/
.gp-opt-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/*-平均分配*/
/* [class*="gp-avg"] > li {float: left;} */
[class*="gp-avg"] {
  font-size: 0;
}

[class*="gp-avg"]>li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  vertical-align: top;
}

/*
版心和间距的问题
*/
.gp-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 78.2vw;
}

@media screen and (min-width:1920px) {
  .gp-f50 {
    font-size: 50px;
  }
}

@media screen and (max-width:1740px) {
  .u_header2 .gp-container {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media screen and (max-width:1500px) {

  .gp-f32 {
    font-size: 26px;
  }
}

@media screen and (max-width:1460px) {
  .gp-f24 {
    font-size: 22px;
  }

  .gp-f18 {
    font-size: 17px;
  }
}

@media screen and (max-width:1386px) {

  /* .gp-container{width: 1100px !important;} */
  .gp-f32 {
    font-size: 24px;
  }


}

@media screen and (max-width:1240px) {
  /* .gp-container{width: 90vw} */
}

@media screen and (max-width:1060px) {
  /* .gp-container{width:900px !important;} */
}

@media screen and (max-width:996px) {
  .gp-container {
    width: auto !important;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 0;
    padding-right: 0;
  }

  .gp-md-fl, .gp-md-fr {
    float: none;
    width: 100% !important;
  }

}

@media screen and (max-width:767px) {
  .gp-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .gp-row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .gp-p15 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .gp-m15 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .gp-sm-fl, .gp-sm-fr {
    float: none;
    width: 100% !important;
  }
}


/*
面包屑
*/
.gp-bread {
  height: auto;
  line-height: 1.5;
  color: #fff;
  padding: 12px 0;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.gp-bread span {
  color: #fff;
  margin: 0 3px
}

.gp-bread a {
  color: #fff;
}

.gp-bread a:hover {
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .gp-article {
    word-break: break-word;
  }

  .gp-article img {
    width: auto !important;
    height: auto !important;
  }

  .gp-article video {
    width: auto !important;
  }

  .gp-article table {
    width: 100% !important;
  }

  body {
    font-size: 14px;
  }

  /* html{font-size: 54.705%;} */
}

/*
pad端固定宽度
*/
@media screen and (max-width:999px) {
  .gp-flex {
    display: flex;
    display: -webkit-flex;
  }

  .gp-flex-fixed {
    width: 250px;
  }

  .gp-flex-flexible {
    flex: 1;
    width: auto;
  }
}

/***
布局-网格样式 
**/

/* [class*="gp-xs"],[class*="gp-sm"],[class*="gp-md"],[class*="gp-lg"] {
  display: inline-block;*display: inline;*zoom:1;vertical-align: top;width: 100%;
} */
@media screen and (min-width:100px) {
  [class*="gp-avg"]>li {
    width: 100%;
  }

  /*平均分配*/
  .gp-avg-xxs-1>li {
    width: 100%;
  }

  .gp-avg-xxs-2>li {
    width: 50%;
  }

  .gp-avg-xxs-3>li {
    width: 33.3%;
  }

  .gp-avg-xxs-4>li {
    width: 25%;
  }

  .gp-avg-xxs-5>li {
    width: 20%;
  }

  .gp-avg-xxs-6>li {
    width: 16.6%;
  }

  .gp-avg-1>li {
    width: 100%;
  }

  .gp-avg-2>li {
    width: 50%;
  }

  .gp-avg-3>li {
    width: 33.3%;
  }

  .gp-avg-4>li {
    width: 25%;
  }

  .gp-avg-5>li {
    width: 20%;
  }

  .gp-avg-6>li {
    width: 16.6%;
  }
}

@media screen and (max-width:479px) {
  [class*="gp-xs"] {
    width: 100%;
    display: block;
  }

  /*平均分配*/
  .gp-avg-xxs-1>li {
    width: 100%;
  }

  .gp-avg-xxs-2>li {
    width: 50%;
  }

  .gp-avg-xxs-3>li {
    width: 33.3%;
  }

  .gp-avg-xxs-4>li {
    width: 25%;
  }

  .gp-avg-xxs-5>li {
    width: 20%;
  }

  .gp-avg-xxs-6>li {
    width: 16.6%;
  }
}

@media screen and (min-width:479px) {

  /*平均分配*/
  .gp-avg-xs-1>li {
    width: 100%;
  }

  .gp-avg-xs-2>li {
    width: 50%;
  }

  .gp-avg-xs-3>li {
    width: 33.3%;
  }

  .gp-avg-xs-4>li {
    width: 25%;
  }

  .gp-avg-xs-5>li {
    width: 20%;
  }

  .gp-avg-xs-6>li {
    width: 16.6%;
  }

}

@media screen and (min-width:767px) {

  /*平均分配*/
  .gp-avg-sm-1>li {
    width: 100%;
  }

  .gp-avg-sm-2>li {
    width: 50%;
  }

  .gp-avg-sm-3>li {
    width: 33.3%;
  }

  .gp-avg-sm-4>li {
    width: 25%;
  }

  .gp-avg-sm-5>li {
    width: 20%;
  }

  .gp-avg-sm-6>li {
    width: 16.6%;
  }
}

@media screen and (min-width:997px) {

  /*平均分配*/
  .gp-avg-md-1>li {
    width: 100%;
  }

  .gp-avg-md-2>li {
    width: 50%;
  }

  .gp-avg-md-3>li {
    width: 33.3%;
  }

  .gp-avg-md-4>li {
    width: 25%;
  }

  .gp-avg-md-5>li {
    width: 20%;
  }

  .gp-avg-md-6>li {
    width: 16.6%;
  }
}

@media screen and (min-width:1300px) {

  /*平均分配*/
  .gp-avg-lg-1>li {
    width: 100%;
  }

  .gp-avg-lg-2>li {
    width: 50%;
  }

  .gp-avg-lg-3>li {
    width: 33.3%;
  }

  .gp-avg-lg-4>li {
    width: 25%;
  }

  .gp-avg-lg-5>li {
    width: 20%;
  }

  .gp-avg-lg-6>li {
    width: 16.6%;
  }
}

/*
表格
*/
.gp-table>tbody>tr>td, .gp-table>tbody>tr>th, .gp-table>tfoot>tr>td, .gp-table>tfoot>tr>th, .gp-table>thead>tr>td, .gp-table>thead>tr>th {
  padding: 19px 20px;
  line-height: 1.4;
  word-break: break-all;
}

.gp-table-bordered {
  border: solid #e6e6e6;
  border-width: 0px 0 1px 0px;
}

.gp-table * {
  word-wrap: break-word;
}

/*边框*/
.gp-table-bordered td {
  border: solid #e6e6e6;
  border-width: 1px 1px 0px 1px;
}

/*条纹*/
.gp-table-striped>tbody>tr:nth-child(even)>td,
.gp-table-striped>tbody>tr:nth-child(even)>th {
  background-color: #f5f5f5
}

/*置顶*/
.gp-goTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  color: #fff !important;
  background: #cc0909;
}

.gp-goTop-fixed {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 800;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.gp-goTop-fixed.bottom {
  bottom: 150px;
}

/*低版本跳转样式*/
.ie_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 99998;
}

.ie9tips {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -200px;
  line-height: 1.8;
  color: #fff;
  z-index: 99999;
  text-align: center;
}

.ie9tips a {
  color: red;
}

.ie9tips img {
  display: block;
  margin: 0 auto;
  opactiy: 0.9;
  filter: alpha(opacity=90);
}

.ie9tips p {
  padding-top: 10px;
  color: #fff;
  width: 420px;
  margin: 10px auto;
  line-height: 1.8;
}

.text-center {
  text-align: center;
}

/* 公共样式 */
.u_header {
  z-index: 900;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.4s ease-out;
  width: 100%;
  padding: 0 3vw;
  box-sizing: border-box;
}

.u_logo {
  float: left;
  max-width: 360px;
  line-height: 1;
  position: relative;
  box-sizing: border-box;
  padding: 30px 0;
  position: relative;
  z-index: 200;
  width: 45%;
  float: left;
}

.u_logo a img {
  display: block;
}

.u_top_right {
  margin-left: 380px;
  text-align: right;
}

.u_top_links {
  padding-top: 10px;
}

.u_top_links>ul {
  display: inline-block;
}

.u_link_list li span {
  margin: 0 15px;
}

.u_link_list li:last-child span {
  display: none;
}

.u_link_list2 {
  margin-left: 60px;
}

.u_searchBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 69px;
  height: 77px;
  background: url(../images/u_search_bg.png) no-repeat right top;
  color: #fff;
  text-align: right;
  cursor: pointer;
}

.u_searchBtn i {
  color: #fff;
  font-size: 22px;
  padding: 15px 15px 0 0;
  display: inline-block;
}

.u_nav {
  text-align: right;
  transition: all 0.35s ease-out;
  padding-top: 20px;
  margin-right: -25px;
}

.u_nav>li {
  position: relative;
  height: 60px;
  transition: height 0.4s ease-out;
  display: inline-block;
  padding: 0 25px;
}

.u_nav>li>a {
  font-size: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  color: #fff;
  line-height: 60px;
}

.u_nav>li>a::before {
  width: 0;
  height: 3px;
  background-color: #f39800;
  position: absolute;
  left: 50%;
  bottom: 1px;
  content: '';
  transition: all 0.35s ease-out;
}

.u_nav>li:hover>a::before, .u_nav>li.on>a::before {
  width: 100%;
  left: 0;
}

.u_nav>li>span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}

.u_nav>li .second_nav1 {
  width: 450px;
  position: absolute;
  left: 50%;
  display: none;
  top: 60px;
  padding: 30px 40px 30px 50px;
  box-sizing: border-box;
  background: #004a99;
  border-radius: 0 0 65px 65px;
  border-top: 1px solid #f39800;
  overflow: hidden;
  margin-left: -225px;
}

.u_nav>li .second_nav1::before {
  content: '';
  width: 192px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../images/u_bg1.png) no-repeat left bottom;
  z-index: 0;
  opacity: 0.6;
}

.u_nav>li .second_nav1::after {
  content: '';
  width: 305px;
  height: 249px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/u_bg2.png) no-repeat left top;
  z-index: 0;
  opacity: 0.6;
}

.second_nav1 dl {
  /* margin-right: 270px; */
  position: relative;
  z-index: 10;
}

.second_nav1 dd {
  width: 50%;
  line-height: 1.5;
}

.second_nav1 dd a {
  padding: 9px 0;
  display: block;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  font-weight: normal;
}

.second_nav1 dd a:hover {
  color: #f4a300;
}

.gp-serBtn2 {}

.u_nav>li.on .second_nav1 {
  display: block;
}

.second_nav1 dl {
  position: relative;
  z-index: 20;
  text-align: left;
}

.sec_img {
  float: right;
  width: 246px;
  position: relative;
  z-index: 5;
  padding-top: 10px;
}

.sec_img .gp-img-responsive {
  padding-bottom: 66.67%;
}

.u_nav>li:nth-last-child(1) .second_nav1 {
  left: auto;
  right: 25px;
  width: 1100px;
}

.u_nav>li:nth-last-child(1) .second_nav1 dl {
  margin-right: 0;
}

.u_nav>li:nth-last-child(1) .second_nav1 dd {
  width: 25%;
}

/* .u_nav > li:nth-last-child(2) .second_nav1,.u_nav > li:nth-last-child(3) .second_nav1,.u_nav > li:nth-last-child(4) .second_nav1{left: auto;right: 25px;} */
.u_nav>li:nth-last-child(2) .second_nav1 {
  left: auto;
  right: 25px;
}

/* .u_nav > li:nth-last-child(5) .second_nav1{left: -320%;} */

/*1.默认展开的搜索*/
.gp-search {
  width: 220px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  transition: all 0.35s ease-in-out;
  border: 1px solid #f1f2f6;
  border-radius: 25px;
}

.gp-ser {
  width: 100%;
  height: 28px;
  z-index: 9999994;
  margin: 0 auto;
  position: relative;
}

.gp-search input, .gp-search button {
  position: absolute;
  height: 28px;
  line-height: 28px;
  border: none;
  background: none;
  top: 0px;
  overflow: hidden;
}

.gp-search input.notxt {
  color: #fff;
  width: 82%;
  left: 0;
  padding-left: 5%;
}

.gp-search .notxt1 {
  position: absolute;
  width: 13%;
  right: 0;
  cursor: pointer;
  color: #fff;
  height: 42px;
  line-height: 42px;
  top: 0;
  text-align: center;
  transition: all 0.35s ease-out;
  font-size: 25px;
}

/*4.搜索按钮全屏展开*/
#gp-serBtn4 {
  z-index: 801;
}

.gp-search4 {
  height: 0;
  border: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  z-index: 1802;
  left: 0;
}

.gp-search4 .gp-ser {
  max-width: 800px;
}

.gp-search4 input, .gp-search4 button {
  height: 40px;
  line-break: 40px;
}

.gp-search4 .gp-ser {
  height: 40px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.gp-search4 .notxt1 {
  background: #004a99;
  color: #fff
}

.gp-search4 .gp-ser {
  display: none;
  border: none;
  background: #fff;
}

.gp-search4.active .gp-ser {
  display: block;
}

.gp-search4.active {
  height: 80px;
}

.searchActive .gp-overlay {
  top: 0;
}

@media screen and (max-width:998px) {
  .gp-search4 .gp-ser {
    width: 80%;
  }

  .gp-search4 input, .gp-search4 button {
    box-sizing: border-box;
  }

  .gp-search4 input.notxt {
    width: 100%;
    padding-right: 90px;
  }

  .gp-search4 .notxt1 {
    width: 85px;
  }
}

.close {
  position: absolute;
  right: 1vw;
  top: 1vw;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #333;
}

:moz-placeholder {
  color: #333;
}

.gp-search input:placeholder {
  color: #333;
}

:-ms-input-placeholder {
  color: #333;
}

@media screen and (max-width:998px) {
  .gp-search4 .gp-ser {
    width: 80%;
  }

  .gp-search4 input, .gp-search4 button {
    box-sizing: border-box;
  }

  .gp-search4 input.notxt {
    width: 100%;
    padding-right: 90px;
  }

  .gp-search4 .notxt1 {
    width: 85px;
  }

}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
  display: block;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.fadeInUpSmall, .show {
  -webkit-animation-name: fadeInUpSmall;
  animation-name: fadeInUpSmall;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpSmall2 {
  -webkit-animation-name: fadeInUpSmall2;
  animation-name: fadeInUpSmall2;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeInUpSmall2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes fadeInUpSmall2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    -ms-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


.fadeInLeftSmall {
  -webkit-animation-name: fadeInLeftSmall;
  animation-name: fadeInLeftSmall;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeInLeftSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRightSmall {
  -webkit-animation-name: fadeInRightSmall;
  animation-name: fadeInRightSmall;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeInRightSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.header.currents {
  -webkit-animation-name: upDown;
  animation-name: upDown;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes upDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes upDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/*头部定位*/
.header.currents {
  position: fixed;
  left: 90px;
  top: 0;
  width: calc(100% - 90px);
  margin-bottom: 0;
  border: none
}

.header.currents .logo {
  padding: 20px 0;
}

.header.currents .nav li .second_nav1 {
  top: 72px;
}

.header.active {
  width: 100%;
  left: 0;
}

body.open .logo {
  z-index: 2000;
}

/*手机端导航默认*/
.mobile_bg {
  width: 100%;
  height: 100%;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 300;
}

.gp-menu {
  width: 100%;
  z-index: 98;
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  z-index: 400;
}

.gp-menu-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 996;
  width: 100%;
  height: 50px;
}

.gp-menu-link {
  float: left;
  line-height: 40px;
  height: 40px;
  padding-left: 15px;
}

.gp-menu-link a {
  color: #fff;
}

.gp-menu-header-icon {
  float: right;
  position: relative;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  cursor: pointer;
  margin: 0;
  width: auto;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  text-align: center;
  line-height: 30px;
  width: 40px;
}

.gp-menu-header-icon i {
  color: #fff;
  position: relative;
  z-index: 20;
  font-size: 23px;
}

.gp-menu-header-icon-click i::before {
  content: '\e616';
}

.gp-menu-nav {
  width: 100%;
  display: none;
  background: url(../images/m_bg33.png) no-repeat right bottom #004a99;
  top: 0;
  right: 0;
  border-top: 5px solid #f39800;
}

/*导航*/
.gp-menu-nav a {}

.gp-menu-nav>ul {
  padding: 0 10% 0;
}

.gp-menu-nav>ul>li {
  position: relative;
  box-sizing: border-box;
  transition: transform 0.5s ease-in;
  transform: translateY(-40px);
  opacity: 0;
}

.gp-menu-nav>ul>li {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.gp-menu-nav>ul>li>a {
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  padding: 12px 15px;
  width: 70%;
  box-sizing: border-box;
  color: #fff;
}

.m-second-nav {
  display: none;
  padding-bottom: 10px;
  padding: 0 15px;
}

.m-second-nav>li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}

.m-second-nav>li:last-child {
  border-bottom: none;
}

.m-second-nav>li.on>span {
  transform: rotate(45deg);
}

.m-second-nav>li>a {
  display: block;
  padding: 12px 0 12px 20px;
  font-size: 14px;
  color: #fff;
}

.m-second-nav>li>span {
  top: 4px;
  color: #dad6ce;
  font-size: 18px;
}

.gp-menu-arrow {
  cursor: pointer;
  width: 30px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  text-align: center;
}

.gp-menu-arrow::before {
  transition: all 0.3s ease-in-out;
}

.gp-menu-nav>ul>li.on>span {
  color: #fff;
}

.gp-menu-nav>ul>li.on>span::before {
  transform: rotate(90deg);
  display: inline-block;
}

.gp-menu-nav li ul {}

/*
侧滑右侧
*/

.gp-menu-nav.gp-menu-offcanvas2 {
  position: fixed;
  display: block;
  transform: translate(150%, 0);
  transition: all 1s ease-in-out;
  width: 85%;
}

.open .gp-menu-offcanvas2 {
  transform: translate(0, 0);
  position: absolute;
}



/*导航内标签效果*/
.open .gp-menu-link {
  display: none;
}

.open .gp-menu-header {
  background: none;
}

.open .logo, .open .header .divSelect {
  z-index: 90;
}

.open .gp-menu-nav>ul>li {
  transform: none;
  opacity: 1;
}

.open .gp-menu-nav>ul>li.on {}

.gp-menu-nav.gp-menu-offcanvas2 {
  position: fixed;
  display: block;
  transform: translate(150%, 0);
  transition: all 1s ease-in-out;
  width: 85%;
  max-width: 400px;
}

body.open .gp-menu-offcanvas2 {
  transform: translate(0, 0);
  position: absolute;
}

body.open .gp-menu-nav>ul>li.on>a {
  color: #fff;
}

body.open .searchBtn {
  display: none !important;
}

body.open .m_en {
  display: inline-block;
  padding-top: 4px;
}

.m_logo {
  padding: 25px 50px 10px 10%;
  width: 70%;
}

.mobile-column1 {
  width: 100%;
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.m-link {
  padding: 20px;
  text-align: center;
}

.m-link a {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  padding: 4px 10px;
  font-size: 16px;
  color: #fff;
  opacity: 0.77;
}

.m-link span {
  color: #fff;
}

/*5移动端搜索默认*/
.gp-m-search {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 10%;
  height: auto;
  border-radius: 0;
  border: none;
}

.gp-m-search .gp-ser {
  background-color: #fff;
}

.gp-m-search .notxt1 {
  right: 0;
  width: 50px;
  border-radius: 2px;
  height: 35px;
  top: 0;
  color: #004098;
  line-height: 35px;
}

.gp-m-search .notxt1 i {
  font-size: 20px;
  color: #004098;
}

.gp-m-search input.notxt {
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.gp-m-search.active {
  display: block;
  position: absolute;
  left: 0;
  top: 140px;
}

.gp-m-search input, .gp-m-search button {
  height: 35px;
  line-height: 35px;
}

.gp-m-search .gp-ser {
  height: 35px;
}

/*加页面动画*/
.effect2 {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s, opacity 1s ease-in-out
}

.effect2.isView {
  transform: none;
  opacity: 1 !important;
}

.quick_links {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: #cc0808;
  background: -webkit-linear-gradient(left, #cc0808, #d13b19);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #cc0808, #d13b19);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #cc0808, #d13b19);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #cc0808, #d13b19);
  /* 标准的语法 */
  padding: 27px 0 15px
}

.quick_links li {
  padding: 0 25px;
  position: relative;
}

.quick_links li::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.quick_links li i {
  max-width: 40px;
  display: block;
  margin: 0 auto 12px;
  line-height: 1;
  height: 40px;
}

.quick_links li span {
  display: block;
  font-size: 16px;
  color: #fff;
}

.quick_links li:last-child::before {
  display: none;
}

.m_quick_links {
  padding: 20px;
  text-align: center;
}

.m_quick_links a {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  padding: 4px 10px;
  font-size: 16px;
  color: #fff;
  opacity: 0.77;
}

/* 置顶后菜单 */
.u_header2 {
  position: fixed;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 43, 77, 0.15);
  z-index: 500;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 0.8s ease-out;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
}

.u_header2 .gp-container {
  max-width: 1720px;
  width: 100%;
}

.u_top_links2 {
  background-color: #004a99;
  padding: 10px 0;
}

.u_header2 .u_logo {
  padding: 18px 0;
}

.u_header2 .u_nav>li>a {
  color: #333;
}

.u_header2 .u_nav {
  padding-top: 0;
  margin-right: 7.5%;
}

.u_header2 .u_top .gp-container {
  position: relative;
}

.u_header2 .u_top .gp-container::before {
  content: '';
  width: 307px;
  height: 70px;
  background: url(../images/u_header_bg3.png) no-repeat center;
  position: absolute;
  left: -90px;
  top: 0;
  z-index: 0;
}

.u_header2 .u_top .gp-container::after {
  content: '';
  width: 178px;
  height: 58px;
  background: url(../images/u_header_bg4.png) no-repeat center;
  position: absolute;
  right: -60px;
  bottom: 0;
  z-index: 0;
}

.u_header2 .u_top .gp-container>* {
  position: relative;
  z-index: 5;
}

/* 置顶后搜索 */
.u_header2 .gp-search {
  width: 6.9%;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  transition: all 0.35s ease-in-out;
  border: 1px solid #044d9b;
  position: absolute;
  right: 0;
  top: 25px;
  background-color: #fff;
}

.u_header2 .gp-ser {
  width: 100%;
  height: 30px;
  z-index: 9999994;
  margin: 0 auto;
  position: relative;
}

.u_header2 .gp-search input, .gp-search button {
  position: absolute;
  height: 30px;
  line-height: 30px;
  border: none;
  background: none;
  top: 0px;
  overflow: hidden;
}

.u_header2 .gp-search input.notxt {
  color: #333;
  width: 65%;
  left: 0;
  padding-left: 8%;
}

.u_header2 .gp-search .notxt1 {
  position: absolute;
  width: 25%;
  right: 2px;
  cursor: pointer;
  color: #004a99;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: #999;
}

:moz-placeholder {
  color: #999;
}

.gp-search input:placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

.u_header2 .u_nav>li {
  height: 83px;
}

.u_header2 .u_nav>li>a {
  line-height: 83px;
}

.u_header2 .u_nav>li .second_nav1 {
  top: 83px;
}

.showdiv .u_header2 {
  transform: none;
  opacity: 1;
  transition: all 0.7s ease-in-out 0.5s;
}

.wrap_ufooter {
  background: url(../images/ff_bg.png) no-repeat top center;
  text-align: center;
  position: relative;
  min-height: 220px;
  margin-top: 140px;
}

.u_footer {
  padding: 0 3.7vw;
}

.f_logo1 {
  width: 25.7%;
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translateX(-50%);
}

.f_logo2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.media_list {
  width: 34.2%;
  float: left;
}

.media_list li {
  width: 20%;
  box-sizing: border-box;
  padding-right: 5%;
}

.media_list li .box {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.media_list li .flipbox-wrapper .flipbox-box {
  position: absolute;
  left: 0;
  top: 0;
}

.media_list li .side1 {
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  width: 100%;
}

.media_list li .side1 i {
  font-size: 50px;
}

.media_list li .side1 i.icon-weixin {
  color: #6ccd43;
}

.media_list li .side2 {
  border: 5px solid #004a99;
  border-radius: 10px;
  background-color: #fff;
  line-height: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.media_list li .side2 img {
  display: block;
  width: 100%;
}

.media_list li .side1 i.icon-kuaishou {
  color: #ff6734;
}

.media_list li .side1 i.icon-douyin {
  color: #000;
}

.media_list li .side {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.media_list li:hover .side1 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.media_list li:hover .side2 {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.media_list.lf {
  float: left;
}

.media_list.rt {
  float: right;
}

.media_list li:nth-child(2n+1) {
  transform: translateY(-50%);
}

.link_list {
  overflow: hidden;
  max-width: 1500px;
  padding: 210px 0 20px;
  margin: 0 auto;
}

.link_list .lf {
  float: left;
  width: 420px;
  display: flex;
  display: -webkit-flex;
  justify-content: start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.link_list .rt {
  float: right;
  width: 420px;
  justify-content: end;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.link_list ul {
  float: left;
  width: auto;
}

.link_list li {
  text-align: left;
  font-size: 14px;
  margin-right: 8%;
  line-height: 1.5;
  margin-bottom: 10px;
  opacity: 0.7;
  white-space: nowrap;
}

.link_list .rt ul {
  margin-left: 10%;
}

.link_list .lf ul {
  margin-right: 10%;
}

.u_copyRight {
  background-color: #034071;
  padding: 16px 15px;
  text-align: center;
}

.u_copyRight span {
  display: inline-block;
  margin: 0 5px;
}


@media screen and (min-width: 996px) {}

@media screen and (max-width:1700px) {
  .u_nav>li {
    padding: 0 1vw
  }

  .u_logo {
    width: 27%;
  }

  .u_nav {
    margin-right: -1vw;
  }

  .u_nav>li:nth-last-child(1) .second_nav1 {
    right: 1vw;
  }

  .u_nav>li:nth-last-child(2) .second_nav1, .u_nav>li:nth-last-child(3) .second_nav1, .u_nav>li:nth-last-child(4) .second_nav1 {
    right: 1vw;
  }
}


@media screen and (max-width:1500px) {
  .nav>li>a {
    font-size: 18px;
  }

  .second_nav1 dd a {
    font-size: 16px;
  }
}

@media screen and (max-width:1460px) {
  .gp-f30 {
    font-size: 26px;
  }

  .gp-f16 {
    font-size: 15px;
  }

  .gp-f36 {
    font-size: 32px;
  }

  .gp-f22 {
    font-size: 20px;
  }

  .gp-f28 {
    font-size: 24px;
  }

  .gp-f20 {
    font-size: 19px;
  }

  .u_header {
    padding: 0 5vw 0 3vw;
  }

  .u_nav {
    padding-top: 0;
  }

  .u_nav>li>a {
    font-size: 17px;
  }

  .u_nav .second_nav1 dd a {
    font-size: 15px;
  }

  .u_searchBtn {
    width: 4.5vw;
    background-size: 100% auto;
  }

  .u_searchBtn i {
    padding: 1vw 1vw 0 0;
  }
}


@media screen and (max-width:1386px) {
  .gp-f30 {
    font-size: 26px;
  }

  .gp-f24 {
    font-size: 22px;
  }

  .gp-f18 {
    font-size: 17px;
  }

  .gp-f36 {
    font-size: 30px;
  }

  .gp-f16 {
    font-size: 15px;
  }

  .gp-f28 {
    font-size: 23px;
  }

  .gp-f20 {
    font-size: 18px;
  }

  .u_header2 .gp-search input.notxt {
    width: calc(100% - 30px)
  }

  .u_header2 .gp-search .notxt1 {
    width: 30px;
  }

  .u_header2 .u_nav {
    margin-right: 9%;
  }

  .u_header2 .gp-search {
    width: 8%;
  }


}

@media screen and (max-width:1386px) {
  .quick_links {
    padding: 16px 0 14px;
  }

  .quick_links li i {
    margin-bottom: 8px;
  }

  .quick_links li span {
    font-size: 15px;
  }

  .gp-f26 {
    font-size: 24px;
  }

  .gp-f22 {
    font-size: 20px;
  }

}

@media screen and (max-width:1320px) {
  .top {
    padding: 0 1.5vw 0 2vw;
  }

  .gp-f36 {
    font-size: 26px;
  }

  .gp-f26 {
    font-size: 22px;
  }

  .gp-f22 {
    font-size: 19px;
  }

  .u_nav>li>a {
    font-size: 17px;
  }

  .u_link_list li span {
    margin: 0 7px;
  }

  .u_top_links>ul {
    margin-left: 35px;
  }

  .u_logo {
    width: 23%;
  }

  .u_top_right {
    margin-left: 24%;
  }

  .u_top_links {
    padding-top: 0;
  }

  .u_header2 .u_top_links {
    padding-top: 10px;
  }


}

@media screen and (max-width:1200px) {
  .u_nav>li>a {
    font-size: 16px;
  }

  .u_nav>li {
    padding: 0 0.5vw;
  }

  .u_nav>li {
    position: static;
  }

  .u_nav {
    position: relative;
  }

  .u_nav>li .second_nav1 {
    width: 100% !important;
    padding: 20px 30px 20px 20px;
  }

  .u_nav>li:nth-last-child(1) .second_nav1, .u_nav>li:nth-last-child(2) .second_nav1, .u_nav>li:nth-last-child(3) .second_nav1, .u_nav>li:nth-last-child(4) .second_nav1 {
    right: 0.5vw;
  }

  .second_nav1 dd a {
    padding: 5px 0;
  }
}

@media screen and (max-width:1080px) {
  .logo {
    width: 24%;
  }

  .nav {
    padding-top: 20px;
  }

  .footer_logo {
    width: 20%;
  }

  .footer_rt {
    width: 340px;
  }
}

@media screen and (max-width:996px) {

  .u_top_right {
    display: none;
  }

  .u_logo {
    width: 33%;
    padding: 15px 0;
  }

  .u_header {
    padding: 0 15px;
  }

  .gp-menu {
    display: block;
  }

  .u_searchBtn {
    display: none;
  }

  .gp-menu-header-icon::after {
    width: 50px;
    height: 50px;
    /* background: url(../images/u_search_bg.png) no-repeat center; */
    background-size: contain;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: 0;
    content: '';
  }

  .open .gp-menu-header-icon::after {
    background: url(../images/menu_bg.png) no-repeat center;
    background-position: right top
  }

  .gp-menu-header-icon-out span {
    position: relative;
    z-index: 50;
  }

  .gp-menu-header-icon-out {
    margin-right: 0;
  }

  .open .u_header {
    border-top: none;
  }

  .media_list.lf, .media_list.rt {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .media_list li:nth-child(2n+1) {
    transform: none;
  }

  .media_list.lf {}

  .media_list li {
    padding: 0 10px;
  }

  .wrap_ufooter {
    background: none;
  }

  .link_list::before {
    content: '';
    width: 100%;
  }

  .link_list {
    background: url(../images/ff_bg.png) no-repeat top center;
    padding: 210px 3.5vw 20px;
  }

  .u_footer {
    padding: 0;
  }

  .f_logo1 {
    display: none;
  }

  .link_list .lf, .link_list .rt {
    width: 49%;
  }

  .f_logo2 {
    top: auto;
    width: 25%;
    max-width: 120px;
    bottom: 260px;
  }

  .wrap_ufooter {
    margin-top: 0;
    margin-bottom: 49px;
  }

}




@media screen and (max-width:767px) {
  .gp-f16 {
    font-size: 15px;
  }

  .gp-f24 {
    font-size: 20px;
  }

  .gp-page {
    padding: 30px 0;
  }

  .gp-f36 {
    font-size: 22px;
  }

  .gp-f20 {
    font-size: 17px;
  }

  .gp-f30 {
    font-size: 20px;
  }

  .m-link a, .m_quick_links a {
    font-size: 14px;
  }

  .link_list {
    padding-top: 160px;
  }

  .f_logo2 {
    bottom: 210px;
  }

  /* .nav_list{display: none;} */

}

@media screen and (max-width:640px) {
  .gp-f24 {
    font-size: 17px;
  }

  .gp-f18 {
    font-size: 16px;
  }

  .gp-page a {
    display: none;
  }

  .header .logo {
    width: 240px;
    padding: 10px 0;
  }

  .link_list .lf ul {
    margin-right: 5%;
  }
}

@media screen and (max-width:480px) {
  .gp-ul-inline>li {
    font-size: 12px;
  }

  .gp-menu-header-icon-out i, .gp-menu-header-icon-out strong {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .gp-menu-header {
    top: 0;
  }

  .gp-menu-header .searchBtn {
    padding-top: 12px;
    right: 50px;
    font-weight: normal;
  }

  .gp-menu-nav>ul>li>a {
    padding: 12px 15px;
  }

  .gp-menu-nav>ul>li.on>span {
    width: 46px;
    line-height: 46px;
    height: 46px;
  }

  .m-second-nav>li>a {
    padding: 10px 20px;
  }

  .gp-menu-arrow {
    height: 46px;
    line-height: 46px;
  }

  .m-link a, .m_quick_links a {
    font-size: 12px;
  }

  .link_list li {
    font-size: 12px;
  }

  .link_list .lf ul {
    margin-right: 5%;
  }

  .media_list li .side1 i {
    font-size: 30px;
    ;
  }

  .media_list li .side1 i img {
    max-width: 30px;
  }
}

@media screen and (max-width:400px) {
  .link_list .lf, .link_list .rt {
    width: 100%;
  }

  .link_list .rt {
    justify-content: start;
  }

  .link_list .lf ul {
    margin-right: 0;
  }

  .link_list .rt ul {
    margin-right: 0;

  }

  @media screen and (max-width:400px) {
    .link_list .lf, .link_list .rt {
      width: 100%;
      float: none;
      margin: 0 auto;
      padding-left: 10%;
      box-sizing: border-box;
    }

    .link_list ul {
      float: left;
      width: 50%;
    }

    .link_list .rt ul {
      margin-left: 0;
    }

    .f_logo2 {
      bottom: 400px;
    }
  }